<nav class="navbar">
  <div class="nav-content">

    <div class="nav-left">
      <a routerLink="/" class="nav-link">Home</a>
      <button class="nav-btn" (click)="searchFlights()">Search Flights</button>
      <ng-container *ngIf="isAuthenticated">
        <button *ngIf="isUser" class="nav-btn" (click)="viewBookings()">View Bookings</button>
        <button *ngIf="isAdmin" class="btn-admin" routerLink="/flight-inventory">Add Flight</button>
        <button *ngIf="isAdmin" class="btn-admin" routerLink="/all-flights">View Flights</button>
      </ng-container>
     </div>

    <div class="nav-right">
      <ng-container *ngIf="!isAuthenticated">
        <a routerLink="/login" class="btn-link">Login</a>
        <a routerLink="/register" class="btn-primary-nav">Register</a>
       </ng-container>
      <ng-container *ngIf="isAuthenticated">
        <button class="nav-btn" routerLink="/profile">Profile</button>
        <button class="btn-logout" (click)="logout()">Logout</button>
       </ng-container>
     </div>
  </div>
</nav>
