.booking-container{
    max-width: 900px;
    margin: 40px auto;
    padding: 32px;
    background: #e0f4f5;
    border-radius: 16px;
}

.booking-container h2{
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

.form-group {
  display: flex;
  justify-content: center;
  gap: 16px;      
  align-items: center;
}
.form-group input{
    padding: 6px 14px;
}

.form-group select{
    padding: 6px 14px;
}

.passenger-card{
    background: #c0eaec;
    padding: 17px;
    margin-bottom: 20px;
    border-radius: 12px;
}

.passenger-card input{
    padding: 5px 12px;
    margin-bottom: 12px;
    margin-left: 10px;
}


