<app-navbar></app-navbar>
<div class="booking-container">
  <h2>Confirm Booking</h2>

  <div class="form-group">
    <div class="field">
      <label>Username</label>
      <input type="text" [value]="booking.userName" readonly />
    </div>
    <div class="field">
      <label>Email</label>
      <input type="email" [value]="booking.userEmail" readonly />
     </div>
    <div class="field">
      <label>Passengers</label>
      <input type="number" min="1" [(ngModel)]="booking.numberOfSeats" (ngModelChange)="onSeatCountChange($event)" placeholder="Number of passengers" />
     </div>
    <div class="field">
      <label>Meal Type</label>
      <select [(ngModel)]="booking.mealType">
        <option value="VEG">Vegetarian</option>
        <option value="NON_VEG">Non-Vegetarian</option>
      </select>
    </div>
  </div>
  <hr>

  <div class="passenger-card" *ngFor="let passenger of booking.passengers; let i = index">
    <h4>Passenger {{i+1}}</h4>
    <div class="row">
      <div class="field">
        <label>Name</label>
        <input type="text" [(ngModel)]="passenger.name" placeholder="Full name" />
       </div>
      <div class="field">
        <label>Age</label>
        <input type="number" [(ngModel)]="passenger.age" placeholder="Age" />
      </div>
      <div class="field">
        <label>Gender</label>
        <div class="gender-group">
          <label>
            <input type="radio" value="F"[(ngModel)]="passenger.gender" name="gender{{i}}"/>
            Female
          </label>
          <label>
            <input type="radio" value="M" [(ngModel)]="passenger.gender" name="gender{{i}}"/>
            Male
          </label>
        </div>
      </div>
      <!-- <div class="field">
        <label>Seat Number</label>
        <input type="text" [(ngModel)]="passenger.seatNumber" placeholder="e.g., 12A"/>
      </div> -->
    </div>
  </div>
    <div class="seat-section">
      <h3>Select Seats</h3>
      <p class="seat-hint">
        Select {{booking.numberOfSeats}} seat(s)
       </p>
    <div class="seat-grid">
      <button *ngFor="let seat of seats" class="seat"
        [class.booked]="seat.booked"
         [class.selected]="isSelected(seat)"
        [disabled]="seat.booked" (click)="toggleSeat(seat)">
        {{seat.seatNumber}}
      </button>
     </div>
  </div>
  <button class="btn-book" [disabled]="!canBook()" (click)="bookFlight()">Book Flight</button>
  <p class="error" *ngIf="error">{{ error }}</p>
</div>